<h1 class="text-center">FEEDBACK</h1>
<div class="container">
  <form align="center" method="post">
    <label for="fname">First Name</label>
    <input type="text" id="Fname" name="Fname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="Lname" name="Lname" placeholder="Your last name..">

    <label for="Class">Class</label>
    <select id="radio" type="radio" name="Class">
      <option value="Minor Project">Minor project</option>
      <option value="E-commerce">E-commerce</option>
      <option value="AI">AI</option>
    </select>

    <label for="subject">Subject</label>
    <textarea id="subject" name="Feedback" placeholder="Write something.." style="height:200px"></textarea>
     <input type="submit" value="Submit">
  </form>
</div>