  <!-- Four Boxes -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>Time Table</h1>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
              <div class="card card-statistic-1">
                <div class="card-icon bg-primary">
                  <i class="far fa-user"></i>
                </div>
                <div class="card-wrap">
                  <div class="card-header">
                    <h4>Total Lecutres</h4>
                  </div>
                  <div class="card-body">
                    15
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
              <div class="card card-statistic-1">
                <div class="card-icon bg-danger">
                  <i class="far fa-newspaper"></i>
                </div>
                <div class="card-wrap">
                  <div class="card-header">
                    <h4>Free Lectures</h4>
                  </div>
                  <div class="card-body">
                    3
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
              <div class="card card-statistic-1">
                <div class="card-icon bg-warning">
                  <i class="far fa-file"></i>
                </div>
                <div class="card-wrap">
                  <div class="card-header">
                    <h4>Today's Lectures</h4>
                  </div>
                  <div class="card-body">
                    3
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
              <div class="card card-statistic-1">
                <div class="card-icon bg-success">
                  <i class="fas fa-circle"></i>
                </div>
                <div class="card-wrap">
                  <div class="card-header">
                    <h4>Arrangement Lecture</h4>
                  </div>
                  <div class="card-body">
                    1
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h4>Time Table</h4>
            </div>
            <div class="card-body">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th scope="col">Day/Time</th>
                    <th scope="col">10:30-11:20</th>
                    <th scope="col">11:20-12:10</th>
                    <th scope="col">12:10-01:00</th>
                    <th scope="col">01:00-01:50</th>
                    <th scope="col">01:50-02:40</th>
                    <th scope="col">02:40-03:30</th>
                    <th scope="col">03:30-04:15</th>
                    <th scope="col">04:15-05:00</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Mon</th>
                    <td></td>
                    <td>DSA<br>IT-2 III</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>OS<br>IT-2 II</td>
                    <td>OS<br>IT-2 II</td>
                  </tr>
                  <tr>
                    <th scope="row">Tue</th>
                    <td>DSA<br>IT-2 III</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>DSA<br>IT-2 III</td>
                    <td>DSA<br>IT-2 III</td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">Wed</th>
                    <td></td>
                    <td>OS<br>IT-2 II</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>ADA<br>IT-1 III</td>
                    <td>ADA<br>IT-1 III</td>
                  </tr>
                  <tr>
                    <th scope="row">Thur</th>
                    <td></td>
                    <td>ADA<br>IT-1 III</td>
                    <td></td>
                    <td></td>
                    <td>DSA<br>IT-2 III</td>
                    <td>DSA<br>IT-2 III</td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">Fri</th>
                    <td>ADA<br>IT-1 III</td>
                    <td></td>
                    <td>OS<br>IT-2 II</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>DSA<br>IT-2 III</td>
                    <td>DSA<br>IT-2 III</td>
                  </tr>
                  <tr>
                    <th scope="row">Sat</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
