     <div class="row">
            <div class="col-lg-5 col-md-12 col-12 col-sm-12">
              <form method="post" class="needs-validation" novalidate="">
                <div class="card">
                  <div class="card-header">
                    <h4>TASK VIEWER</h4>
                  </div>
                  <div class="card-body pb-0">
                    <div class="form-group">
                      <label>Content</label>
                      <textarea class="summernote-simple" id="AddTxt"></textarea>
                    </div>
                  </div>
                  <div class="card-footer pt-0">
                    <button class="btn btn-primary" id="Addbtn">Save Draft</button>
                  </div>
                </div>
              </form>
            </div>




     <div class="col-lg-7 col-md-12 col-12 col-sm-12" id="notes">
      </div>