<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>{{title}}</title>
{{>style.links}}
 </head>

<body>
  <div id="app">
{{>Navbar}}

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>Attendance</h1>
          </div>


          <div class="row mt-4">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h4>Subject</h4>
                </div>
                <div class="card-body">

                  <div class="float-left">
                    <select class="form-control selectric">
                      <option>Subject</option>
                      <option>DSA</option>
                      <option>Operating System</option>
                      <option>Computer Networking</option>
                    </select>
                  </div>

                  <div class="float-left">
                    <select class="form-control selectric">
                      <option>Date</option>
                      <option>21-09-2021</option>
                      <option>05-10-2021</option>
                      <option>18-11-2021</option>
                    </select>
                  </div>
                  <div class="float-right">
                    <form>
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <div class="input-group-append">                                            
                          <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                        </div>
                      </div>
                    </form>
                  </div>

                  <div class="clearfix mb-3"></div>

                  <div class="table-responsive">
                    <table class="table table-striped">


                      <tr>
                        <th class="text-center pt-2">
                          <div class="custom-checkbox custom-checkbox-table custom-control">
                            <input type="checkbox" data-checkboxes="mygroup" data-checkbox-role="dad" class="custom-control-input" id="checkbox-all">
                            <label for="checkbox-all" class="custom-control-label">&nbsp;</label>
                          </div>
                        </th>
                        <th>Student Name</th>
                        <th>Enrollment No</th>
                        <th>Time</th>
                        <th>Feedback</th>
                        <th>Status</th>
                      </tr>


                      <tr>
                        <td>
                          <div class="custom-checkbox custom-control">
                            <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-2">
                            <label for="checkbox-2" class="custom-control-label">&nbsp;</label>
                          </div>
                        </td>
                        <td>
                          <a href="#">
               <div class="d-inline-block ml-1">ram</div>
                          </a>
                        </td>
                        <td>0827IT191120</td>
                        <td>12:10-01:00</td>
                        <td>React-Introduction</td>
                        <td><div class="badge badge-success">Present</div></td>
                      </tr>


                      <tr>
                        <td>
                          <div class="custom-checkbox custom-control">
                            <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-3">
                            <label for="checkbox-3" class="custom-control-label">&nbsp;</label>
                          </div>
                        </td>
                        <td>
                          <a href="#">
<<<<<<< HEAD
                          <div class="d-inline-block ml-1">Rizal Fakhri</div>
=======
<div class="d-inline-block ml-1">Mohit</div>
>>>>>>> 9c4f510acca758b40eb2fff9ddaaf75acb1507ee
                          </a>
                        </td>
                        <td>0827IT191071</td>
                        <td>12:10-01:00</td>
                        <td>React-Introduction</td>
                        <td><div class="badge badge-danger">Absent</div></td>
                      </tr>
                      
                      <tr>
                        <td>
                          <div class="custom-checkbox custom-control">
                            <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-4">
                            <label for="checkbox-4" class="custom-control-label">&nbsp;</label>
                          </div>
                        </td>
                        <td>
                          <a href="#">
<div class="d-inline-block ml-1">vasu</div>
                          </a>
                        </td>
                        <td>0827IT191127</td>
                        <td>12:10-01:00</td>
                        <td>React-Introduction</td>
                        <td><div class="badge badge-success">Present</div></td>
                      </tr>

                      <tr>
                        <td>
                          <div class="custom-checkbox custom-control">
                            <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-5">
                            <label for="checkbox-5" class="custom-control-label">&nbsp;</label>
                          </div>
                        </td>
                        <td>
                          <a href="#">
               <div class="d-inline-block ml-1">shad</div>
                          </a>
                        </td>
                        <td>0827IT191106</td>
                        <td>12:10-01:00</td>
                        <td>React-Introduction</td>
                        <td><div class="badge badge-warning">Leave</div></td>
                      </tr>

                      <tr>
                        <td>
                          <div class="custom-checkbox custom-control">
                            <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-1">
                            <label for="checkbox-1" class="custom-control-label">&nbsp;</label>
                          </div>
                        </td>
                        <td>
                          <a href="#">
<div class="d-inline-block ml-1">sachi gupta</div>
                          </a>
                        </td>
                        <td>0827IT191098</td>
                        <td>12:10-01:00</td>
                        <td>React-Introduction</td>
                        <td><div class="badge badge-warning">Leave</div></td>
                      </tr>

                    </table>
                  </div>

                </div>
              </div>
            </div>
          </div>     
  {{>scripts.links}}
</body>
</html>