<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>{{title}}</title>

{{>style.links}}
</head>
<body>
  <div id="app">
   
{{>Navbar}}
{{>routing_student}}
{{>heading}}
      <!-- Main Content -->
    {{>tables.index}}
   
    {{>feedback}}
          </div>
        </section>
      </div>
    </div>
  </div>

 {{>scripts.links}}
</body>
</html>
  