  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> Forget password</h2>
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="" id="icon" alt="logo"/>
        <h3 class="LogoName">Management Personnel</h3>
  <div class="heading"><div class="contain">
<p class="contain">Enter the email address associated with your account</p>
  </div></div>
    </div>
  
      <!-- Login Form -->
      <form>
        <input type="email" id="login" class="fadeIn second" name="login" placeholder="Enter your email">
        <input type="number" id="password" class="fadeIn third" name="login" placeholder="Enter OTP">
        <input type="submit" class="fadeIn fourth" value="NEXT">
      </form>
  
   
    </div>
  </div>